.weatherAppWrapper {
  height: 93.56vh;
  width: 1200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;

  padding: 100px;
  // border: solid 3px #121214;
  // border-radius: 12px;

  .mainWrapper {
    flex: 1;
    .mainTitle {
      font-size: 42px;
      font-weight: 700;
      font-family: Roboto;
      color: #000;
    }

    .citySelection {
      margin-top: 30px;
      display: flex;
      flex-direction: column;

      gap: 30px;

      div {
        h2 {
          font-size: 18px;
        }
        > select {
          font-weight: 600;
          font-size: 20px;
          padding: 12px 8px;
          font-family: Roboto;

          width: 350px;

          border: 0;
          border-radius: 12px;
          color: #313436;
          background-color: #313436;
          background-color: #fff;

          border: solid 3px #313436;
        }
      }
    }
  }

  .button-app {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12px;

    margin-top: 80px;
    height: 62px;
    width: 200px;

    font-size: 20px;
    font-weight: 600;
    cursor: pointer;

    border: 0;
    border-radius: 10px;
    background-color: #121214;
    color: #fff;

    &:hover {
      background: #23282b;
      transition: 0.2s;
    }
  }
  .asideWrapper {
    flex: 1;
    background: url("../assets/Iphone.svg") no-repeat;
    background-size: contain;
    background-position: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 24px;

    // margin-bottom: 200px;

    strong {
      font-size: 3rem;
      font-family: Roboto;
    }

    .weatherDescription {
      font-size: 1.4rem;
    }

    .location {
      display: flex;
      align-items: center;
      gap: 12px;

      font-size: 14px;
      font-weight: bold;
    }

    > img {
      height: 120px;
    }
  }
}
